<!-- Heading -->
<h1 i18n="heading">Domain user properties</h1>

<div [appSpinner]="loading.active" spinnerSize="lg">
    <ng-container *ngIf="domainUser && user">
        <div class="row">
            <!-- Buttons -->
            <div class="col-sm-auto order-sm-last pb-3">
                <!-- Edit: disable for the current user -->
                <a [class.disabled]="domainUser.userId === principal?.id" routerLink="edit" class="btn btn-secondary w-100">
                    <fa-icon [icon]="faEdit" class="me-1"></fa-icon>
                    <ng-container i18n>Edit</ng-container>
                </a>
            </div>

            <!-- Detail table -->
            <div class="col-sm">
                <dl id="domain-user-detail-table" class="detail-table">
                    <!-- Role -->
                    <div>
                        <dt i18n>Role</dt>
                        <dd><app-domain-user-badge [domainUser]="domainUser"></app-domain-user-badge></dd>
                    </div>
                    <!-- Reply notifications -->
                    <div>
                        <dt i18n>Reply notifications</dt>
                        <dd><app-checkmark [value]="domainUser.notifyReplies"></app-checkmark></dd>
                    </div>
                    <!-- Moderator notifications -->
                    <div>
                        <dt i18n>Moderator notifications</dt>
                        <dd><app-checkmark [value]="domainUser.notifyModerator"></app-checkmark></dd>
                    </div>
                    <!-- Created -->
                    <div *ngIf="domainUser.createdTime | datetime as v">
                        <dt i18n>Created</dt>
                        <dd>{{ v }}</dd>
                    </div>
                </dl>

                <!-- Related user properties -->
                <section>
                    <h2 i18n>Related user properties</h2>
                    <app-user-details [user]="user" [userLink]="principal?.isSuperuser" id="user-details"></app-user-details>
                </section>
            </div>
        </div>

        <!-- Comments -->
        <section>
            <!-- Heading -->
            <h2 i18n>Comments</h2>

            <!-- Comment list -->
            <app-comment-list [userId]="user.id"></app-comment-list>
        </section>
    </ng-container>

    <!-- Placeholder when no data -->
    <app-no-data *ngIf="!domainUser || !user"></app-no-data>
</div>
