<input #input [(ngModel)]="value" [type]="plain ? 'text' : 'password'" [required]="required" [placeholder]="placeholder"
       [autocomplete]="autocomplete"
       [class.is-invalid]="ngControl?.touched && ngControl?.invalid"
       [class.is-valid]="ngControl?.touched && ngControl?.valid"
       (blur)="onBlur()"
       class="form-control" size="45">
<button (click)="plain = !plain" [class.active]="plain"
        type="button" class="btn btn-outline-secondary" title="Show password" i18n-title>
    <fa-icon [icon]="faEye"></fa-icon>
</button>
<div class="invalid-feedback">
    <div *ngIf="errors?.required"        i18n>Please enter a password.</div>
    <div *ngIf="errors?.minlength"       i18n>Password must be at least {{ minLength }} characters long.</div>
    <div *ngIf="errors?.maxlength"       i18n>Password must be no longer than {{ minLength }} characters.</div>
    <div *ngIf="errors?.strong?.upper"   i18n>Password must contain an uppercase letter (A-Z).</div>
    <div *ngIf="errors?.strong?.lower"   i18n>Password must contain a lowercase letter (a-z).</div>
    <div *ngIf="errors?.strong?.special" i18n>Password must contain a digit or a special symbol.</div>
</div>
