<app-info-block class="mb-3" i18n>These parameters are either immutable or can only be changed at server startup.</app-info-block>

<dl class="detail-table" id="static-config-items">
    <!-- Base Comentario URL -->
    <div>
        <dt i18n>Base Comentario URL</dt>
        <dd>{{ cfg.baseUrl }}</dd>
    </div>
    <!-- Base documentation URL -->
    <div>
        <dt i18n>Base documentation URL</dt>
        <dd>{{ cfg.baseDocsUrl }}</dd>
    </div>
    <!-- Comentario version -->
    <div>
        <dt i18n>Comentario version</dt>
        <dd>{{ cfg.version }}</dd>
    </div>
    <!-- Build date -->
    <div>
        <dt i18n>Build date</dt>
        <dd>{{ cfg.buildDate | datetime }}</dd>
    </div>
    <!-- Current server time -->
    <div>
        <dt i18n>Current server time</dt>
        <dd>{{ cfg.serverTime | datetime }}</dd>
    </div>
    <!-- Database version -->
    <div>
        <dt i18n>Database version</dt>
        <dd>{{ cfg.dbVersion }}</dd>
    </div>
    <!-- Default UI language ID -->
    <div>
        <dt i18n>Default UI language ID</dt>
        <dd>{{ cfg.defaultLangId }}</dd>
    </div>
    <!-- Homepage content URL -->
    <div>
        <dt i18n>Homepage content URL</dt>
        <dd>{{ cfg.homeContentUrl }}</dd>
    </div>
    <!-- Configured federated identity providers -->
    <div>
        <dt i18n>Configured federated identity providers</dt>
        <dd>
            <ul *ngIf="cfg.federatedIdps?.length else noIdps" class="list-unstyled">
                <li *ngFor="let idp of cfg.federatedIdps">
                    <app-idp-icon [idpId]="idp.id"></app-idp-icon>
                    <span class="ms-1">{{ idp.name }}</span>
                </li>
            </ul>
            <ng-template #noIdps><i i18n>(none)</i></ng-template>
        </dd>
    </div>
    <!-- Max. number of items per page -->
    <div>
        <dt i18n>Max. number of items per page</dt>
        <dd>{{ cfg.resultPageSize }}</dd>
    </div>
    <!-- Available UI languages -->
    <div>
        <dt i18n>Available UI languages</dt>
        <dd>
            <ul class="list-unstyled">
                <li *ngFor="let lang of cfg.uiLanguages">
                    <code>{{ lang.id }}</code>
                    <span class="ms-1">{{ lang.nameNative }} ({{ lang.nameEnglish }})</span>
                </li>
            </ul>
        </dd>
    </div>
    <!-- Enabled extensions -->
    <div *ngIf="extensions?.length">
        <dt i18n>Enabled extensions</dt>
        <dd>
            <ul class="ps-3 mb-0">
                <li *ngFor="let ext of extensions">{{ ext.name }}</li>
            </ul>
        </dd>
    </div>
</dl>
