<!-- Heading -->
<h1 class="mb-0" i18n="heading">Users</h1>

<!-- Info block -->
<app-info-block i18n>Below is a list of users registered in the system.</app-info-block>

<div [appSpinner]="!users && usersLoading.active" spinnerSize="lg">
    <!-- Toolbar -->
    <div class="mb-3">
        <div class="row g-2 flex-grow-1">
            <!-- Placeholder to push other items to the right -->
            <div class="col"></div>

            <!-- Sort -->
            <div class="col-auto">
                <app-sort-selector [sort]="sort">
                    <app-sort-property by="email"        label="Email"         i18n-label></app-sort-property>
                    <app-sort-property by="name"         label="Name"          i18n-label></app-sort-property>
                    <app-sort-property by="created"      label="Created"       i18n-label></app-sort-property>
                    <app-sort-property by="federatedIdP" label="Federated IdP" i18n-label></app-sort-property>
                </app-sort-selector>
            </div>

            <!-- Filter form -->
            <form [formGroup]="filterForm" class="col-12 col-sm-auto">
                <!-- Substring filter -->
                <div class="col-sm-auto">
                    <input formControlName="filter" id="filter-string" class="form-control" type="search"
                           placeholder="Filter" aria-label="Filter" i18n-placeholder i18n-aria-label>
                </div>
            </form>
        </div>
    </div>

    <!-- User list -->
    <div *ngIf="users?.length" class="list-group" id="user-list">
        <a *ngFor="let u of users" @fadeIn-slow [routerLink]="u.id" [class.text-muted]="u.banned"
           class="list-group-item list-group-item-action d-flex">
            <!-- Avatar -->
            <div class="col-auto d-flex align-items-center pe-2">
                <app-user-avatar [user]="u" size="M"></app-user-avatar>
            </div>
            <div class="col">
                <!-- Name and badge -->
                <div>
                    <!-- Name -->
                    <span class="fw-bold user-name">{{ u.name }}</span>
                    <!-- System account badge -->
                    <span *ngIf="u.systemAccount" class="badge rounded-pill bg-secondary ms-2">
                            <fa-icon [icon]="faLock" class="me-1"></fa-icon>
                            <ng-container i18n>System</ng-container>
                        </span>
                    <!-- Superuser badge -->
                    <span *ngIf="u.isSuperuser" class="badge rounded-pill bg-danger ms-2" i18n>Super</span>
                    <!-- Banned badge -->
                    <span *ngIf="u.banned" class="badge rounded-pill bg-warning border border-danger text-danger ms-2">
                            <fa-icon [icon]="faBan" class="me-1"></fa-icon>
                            <ng-container i18n>Banned</ng-container>
                        </span>
                    <!-- Current user badge -->
                    <app-current-user-badge [userId]="u.id" class="ms-2"></app-current-user-badge>
                </div>
                <!-- Provider icon and email -->
                <div>
                    <app-idp-icon *ngIf="!u.federatedSso && u.federatedIdP" [idpId]="u.federatedIdP" class="me-2"></app-idp-icon>
                    <span *ngIf="u.federatedSso" class="badge rounded-pill border border-dark text-dark me-2">SSO</span>
                    <span class="user-email">{{ u.email }}</span>
                </div>
            </div>
        </a>
    </div>

    <!-- List footer -->
    <app-list-footer [canLoadMore]="canLoadMore" [loading]="usersLoading.active" [count]="users?.length" (loadMore)="load.next(false)"/>
</div>
