<!-- Header -->
<h1 i18n="heading">User properties</h1>

<div [appSpinner]="loading.active" spinnerSize="lg">
    <ng-container *ngIf="user">
        <div class="row">
            <!-- Buttons -->
            <div class="col-sm-auto order-sm-last pb-3">
                <!-- Edit user button -->
                <a [class.disabled]="user.systemAccount" routerLink="edit" class="btn btn-secondary w-100 mb-2">
                    <fa-icon [icon]="faEdit" class="me-1"></fa-icon>
                    <ng-container i18n>Edit user</ng-container>
                </a>
                <!-- Ban user button -->
                <button [class.active]="user.banned"
                        [appSpinner]="banning.active" [appConfirm]="user.banned ? unbanConfirm : banConfirm"
                        [disable]="isSelf || user.systemAccount!" confirmAction="Proceed" confirmActionType="warning"
                        (confirmed)="toggleBan()"
                        type="button" class="btn btn-outline-warning w-100 mb-2" i18n-confirmAction>
                    <fa-icon [icon]="faBan" class="me-1"></fa-icon>
                    <ng-container *ngIf="!user.banned" i18n>Ban user</ng-container>
                    <ng-container *ngIf="user.banned"  i18n>Unban user</ng-container>
                </button>
                <!-- Delete user button -->
                <button [appSpinner]="deleting.active" [appConfirm]="deleteConfirm" [disable]="isSelf || user.systemAccount!"
                        confirmAction="Delete user" (confirmed)="delete()" type="button"
                        class="btn btn-outline-danger w-100 mb-2" i18n-confirmAction>
                    <fa-icon [icon]="faTrashAlt" class="me-1"></fa-icon>
                    <ng-container i18n>Delete user</ng-container>
                </button>
            </div>

            <!-- Details -->
            <div class="col-sm">
                <app-user-details [user]="user" id="user-details"></app-user-details>
            </div>
        </div>

        <!-- Domain roles -->
        <section id="user-domain-roles">
            <!-- Heading -->
            <h2 i18n>Domain roles</h2>

            <!-- Domain/role list -->
            <div *ngIf="domainUsers" class="list-group">
                <ng-container *ngFor="let du of domainUsers">
                    <a *ngIf="domains.get(du.domainId!) as d" @fadeIn-slow [routerLink]="[Paths.manage.domains, d.id]"
                       class="list-group-item list-group-item-action">
                        <!-- Domain name/host -->
                        <div>
                            <span class="fw-bold domain-host">{{ d.host }}</span>
                            <app-domain-user-badge [domainUser]="du" class="ms-2"></app-domain-user-badge>
                        </div>
                        <div *ngIf="d.name" class="domain-name">{{ d.name }}</div>
                    </a>
                </ng-container>
            </div>

            <!-- List footer -->
            <app-list-footer [count]="domainUsers?.length"/>
        </section>
    </ng-container>

    <!-- Placeholder when no data -->
    <app-no-data *ngIf="!user"></app-no-data>
</div>

<!-- Template for the ban confirmation dialog -->
<ng-template #banConfirm>
    <p i18n>Are you sure you want to ban this user?</p>
    <p i18n>You can also opt to delete all comments created by this user by ticking off the checkbox below.</p>
    <form [formGroup]="banConfirmationForm">
        <div class="form-check">
            <input formControlName="deleteComments" type="checkbox" class="form-check-input" id="ban-delete-comments">
            <label class="form-check-label text-danger" for="ban-delete-comments" i18n>Delete all user's comments</label>
            <div class="form-text text-danger" i18n>Warning: comment removal cannot be undone</div>
        </div>
    </form>
</ng-template>

<!-- Template for the unban confirmation dialog -->
<ng-template #unbanConfirm>
    <div i18n>Are you sure you want to unban this user?</div>
</ng-template>

<!-- Template for the delete user confirmation dialog -->
<ng-template #deleteConfirm>
    <p i18n>Are you sure you want to delete this user?</p>
    <p class="fw-bold" i18n>Please note: this action cannot be undone.</p>
</ng-template>
