<!-- Heading -->
<h1 i18n="heading">Dashboard</h1>

<div [appSpinner]="loading.active" spinnerSize="lg">
    <ng-container *ngIf="totals">
        <!-- Counters -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2" id="dashboard-totals">
            <!-- Users -->
            <app-metric-card *ngIf="totals.countUsersTotal >= 0" [value]="totals.countUsersTotal"
                             [fullHeight]="true" label="Users" sublabel="total"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>

            <!-- Domains -->
            <app-metric-card *ngIf="totals.countDomainsOwned as c" [value]="c"
                             [fullHeight]="true" label="Domains" sublabel="you own"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            <app-metric-card *ngIf="totals.countDomainsModerated as c" [value]="c"
                             [fullHeight]="true" label="Domains" sublabel="you moderate"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            <app-metric-card [value]="totals.countDomainsCommenter"
                             [fullHeight]="true" label="Domains" sublabel="you're commenter on"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
            <app-metric-card *ngIf="totals.countDomainsReadonly as c" [value]="c"
                             [fullHeight]="true" label="Domains" sublabel="you're read-only on"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>

            <!-- Pages -->
            <app-metric-card *ngIf="totals.countPagesModerated as c" [value]="c" [chartCounts]="domainPageCounts"
                             [fullHeight]="true" label="Pages" sublabel="you moderate" chartColour="#fd4f8850"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>

            <!-- Domain users -->
            <app-metric-card *ngIf="totals.countDomainUsers as c" [value]="c" [chartCounts]="domainUserCounts"
                             [fullHeight]="true" label="Domain users" sublabel="you manage" chartColour="#e3a41c50"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>

            <!-- Comments -->
            <app-metric-card *ngIf="totals.countComments as c" [value]="c"
                             [fullHeight]="true" label="Comments" sublabel="total"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>

            <!-- Commenters -->
            <app-metric-card *ngIf="totals.countCommenters as c" [value]="c"
                             [fullHeight]="true" label="Commenters" sublabel="total"
                             i18n-label="metric-label|" i18n-sublabel="metric-sublabel|"/>
        </div>

        <!-- Stats chart, only if it's a superuser or there are any owned domains -->
        <div *ngIf="principal?.isSuperuser || totals.countDomainsOwned" class="mt-3" id="dashboard-daily-stats">
            <h2 i18n="heading">Daily statistics</h2>
            <app-stats-chart domainId=""/>
        </div>
    </ng-container>

    <!-- Placeholder when no data -->
    <app-no-data *ngIf="!totals"/>
</div>

