<section class="container">
    <!-- Heading -->
    <h1 i18n="heading">Forgot your password?</h1>
    <p class="text-center" i18n>Please enter your email in the form below, and we'll send you a reset link.</p>

    <!-- Login form -->
    <div class="row justify-content-center">
        <div class="col-sm-auto w-max-500">
            <form [formGroup]="form" (ngSubmit)="submit()" id="forgot-password-form">
                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label colon" i18n>Your email</label>
                    <input formControlName="email" type="email" class="form-control" id="email" size="45"
                           [class.is-valid]="form.controls.email.touched && form.controls.email.valid"
                           [class.is-invalid]="form.controls.email.touched && form.controls.email.invalid"
                           placeholder="user@example.com" autocomplete="email">
                    <div class="invalid-feedback" i18n>Please enter a valid email.</div>
                </div>
                <!-- Submit button -->
                <div class="mb-3 text-center">
                    <button [appSpinner]="submitting.active" type="submit" class="btn btn-primary" i18n="action">Send me a link!</button>
                </div>
            </form>
        </div>
    </div>
</section>
