<!-- Heading `-->
<h1 i18n="heading">Import data</h1>

<!-- Import isn't performed yet -->
<div *ngIf="!result">
    <!-- Info -->
    <p i18n>Use this option to import data previously exported from Comentario, Commento, or Disqus.</p>
    <div class="alert alert-warning" role="alert">
        <h5 class="alert-heading text-start">
            <fa-icon [icon]="faExclamationTriangle" class="text-warning me-1"></fa-icon>
            <ng-container i18n>Warning</ng-container>
        </h5>
        <div i18n>It is strongly recommended you perform an import only once. Importing multiple times may have unintended effects.</div>
    </div>
    <hr>

    <!-- Edit form -->
    <form [formGroup]="form" (ngSubmit)="submit()" (keydown.control.enter)="submit()">
        <!-- Source format -->
        <div class="mb-3 row">
            <div class="col-sm-3 col-form-label colon" i18n>Source format</div>
            <div class="col-sm-9">
                <!-- Commento/Comentario -->
                <div class="form-check mb-3">
                    <input formControlName="source" class="form-check-input" type="radio" id="import-comentario" value="comentario">
                    <label class="form-check-label" for="import-comentario">Commento/Comentario</label>
                    <div class="form-text">
                        <ng-container i18n>If you've previously exported data from Comentario or Commento, you can restore it using this option.</ng-container>
                    </div>
                </div>
                <!-- Disqus -->
                <div class="form-check">
                    <input formControlName="source" class="form-check-input" type="radio" id="import-disqus" value="disqus">
                    <label class="form-check-label" for="import-disqus">Disqus</label>
                    <div class="form-text">
                        <ng-container i18n>If you're currently using Disqus, you can import all comments into Comentario:</ng-container>
                        <ul>
                            <li i18n>Go to the <a href="https://disqus.com/admin/discussions/export/" target="_blank" rel="nofollow noopener noreferrer">admin export section</a> in Disqus and click <strong>Export Comments</strong>. This should start the process of exporting your comments in the background.</li>
                            <li i18n>You'll receive an email from Disqus with a link to a compressed archive of all comments and associated data.</li>
                            <li i18n>Download the file and select it in the field below.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- File input -->
        <div class="mb-3 row">
            <label for="import-file-select" class="col-sm-3 col-form-label colon" i18n>Data file</label>
            <div class="col-sm-9">
                <input (change)="onFileSelected($event)"
                       [class.is-valid]="form.controls.file.touched && form.controls.file.valid"
                       [class.is-invalid]="form.controls.file.touched && form.controls.file.invalid"
                       id="import-file-select" type="file" class="form-control">
                <!-- Invalid feedback -->
                <div class="invalid-feedback">
                    <ng-container i18n>Please select a file.</ng-container>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="form-footer">
            <a routerLink="../operations" class="btn btn-link" i18n="action">Cancel</a>
            <button [appSpinner]="importing.active" type="submit" class="btn btn-primary">
                <ng-container i18n="action">Import</ng-container>
            </button>
        </div>
    </form>
</div>

<!-- Import complete -->
<div *ngIf="result" @fadeInOut-slow id="import-complete">
    <!-- Import finished with warnings -->
    <div *ngIf="result.error as err" class="alert alert-warning d-flex align-items-start mb-4" role="alert">
        <!-- Icon -->
        <div><fa-icon [icon]="faExclamationTriangle" size="3x" class="text-warning"></fa-icon></div>
        <!-- Text -->
        <div class="ms-3">
            <p class="lead fw-bold" i18n>Import finished with a warning:</p>
            <!-- Warning message -->
            <div class="border rounded p-3 mb-3">
                <code>{{ err }}</code>
            </div>
        </div>
    </div>

    <!-- Import finished without warnings -->
    <div *ngIf="!result.error" class="alert alert-success d-flex align-items-start mb-4" role="alert">
        <!-- Icon -->
        <div><fa-icon [icon]="faCheck" size="3x" class="text-success"></fa-icon></div>
        <!-- Text -->
        <div class="ms-3 lead fw-bold" i18n>Import finished successfully.</div>
    </div>

    <!-- Result counts -->
    <h2 i18n>Import results</h2>
    <dl class="detail-table" id="import-results-table">
        <div>
            <dt i18n>Total users</dt>
            <dd>{{ result.usersTotal || 0 | number }}</dd>
        </div>
        <div>
            <dt i18n>Added users</dt>
            <dd>{{ result.usersAdded || 0 | number }}</dd>
        </div>
        <div>
            <dt i18n>Added domain users</dt>
            <dd>{{ result.domainUsersAdded || 0 | number }}</dd>
        </div>
        <div>
            <dt i18n>Total domain pages</dt>
            <dd>{{ result.pagesTotal || 0 | number }}</dd>
        </div>
        <div>
            <dt i18n>Added domain pages</dt>
            <dd>{{ result.pagesAdded || 0 | number }}</dd>
        </div>
        <div>
            <dt i18n>Total comments</dt>
            <dd>{{ result.commentsTotal || 0 | number }}</dd>
        </div>
        <div>
            <dt i18n>Imported comments</dt>
            <dd>{{ result.commentsImported || 0 | number }}</dd>
        </div>
        <div>
            <dt i18n>Skipped comments</dt>
            <dd>{{ result.commentsSkipped || 0 | number }}</dd>
        </div>
        <div>
            <dt i18n>Non-deleted comments</dt>
            <dd>{{ result.commentsNonDeleted || 0 | number }}</dd>
        </div>
    </dl>

    <!-- Buttons -->
    <div class="my-3">
        <a [routerLink]="[Paths.manage.domains, domain!.id, 'comments']" class="btn btn-outline-primary"      i18n>Comments</a>
        <a [routerLink]="[Paths.manage.domains, domain!.id, 'pages']"    class="btn btn-outline-primary ms-2" i18n>Pages</a>
        <a [routerLink]="[Paths.manage.domains, domain!.id]"             class="btn btn-outline-primary ms-2" i18n>Domain properties</a>
    </div>
</div>
