<div class="d-block d-md-flex">
    <!-- Dark background underneath the normal (not fixed/sticky) sidebar that covers a possible gap between the real
         sidebar and the footer. Relevant when the screen is taller than the sidebar, since the footer will be at the
         screen's bottom. -->
    <div class="cc-sidebar-filler"></div>

    <!-- Sidebar outer container, either normal (wide screen) or fixed -->
    <nav id="sidebarMenu" class="cc-sidebar-container" [class.expanded]="expanded">
        <!-- Sidebar content, either sticky (wide screen) or scrollable -->
        <div class="sidebar-content">
            <!-- Logo -->
            <div class="cc-logo">
                <a [routerLink]="Paths.home" role="button">
                    <img ngSrc="images/logo.svg" width="192" height="48" class="cc-logo-expanded" alt="Comentario">
                    <img ngSrc="images/icon.svg" width="32" height="32" class="cc-logo-collapsed" alt="Comentario">
                </a>
            </div>

            <!--------------------------------------------------------------------------------------------------------->
            <!-- Regular user's items -->
            <!--------------------------------------------------------------------------------------------------------->

            <ul class="nav">
                <!-- Show/collapse button -->
                <li class="nav-item d-md-none mw-100">
                    <a [class.collapsed]="!expanded" [attr.aria-expanded]="expanded"
                       (click)="toggleExpanded()" (keydown.enter)="toggleExpanded()"
                       class="cc-toggler collapse-toggler" role="button" tabindex="0" id="sidebarToggler">
                        <fa-icon class="cc-icon" [icon]="faChevronRight"></fa-icon>
                    </a>
                </li>

                <!-- Dashboard -->
                <li class="nav-item">
                    <a [routerLink]="Paths.manage.dashboard" routerLinkActive="active" class="cc-link">
                        <fa-icon class="cc-icon" [icon]="faTachometerAlt"></fa-icon>
                        <span class="cc-hide-collapsed" i18n>Dashboard</span>
                    </a>
                </li>

                <!-- Domain selector -->
                <li class="nav-item">
                    <a [routerLink]="Paths.manage.domains" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="cc-link">
                        <fa-icon class="cc-icon" [icon]="faList"></fa-icon>
                        <div class="cc-hide-collapsed" i18n>Domains</div>
                    </a>
                </li>
            </ul>

            <!--------------------------------------------------------------------------------------------------------->
            <!-- Domain items: if there's a domain -->
            <!--------------------------------------------------------------------------------------------------------->

            <ul *ngIf="domainMeta?.domain as d" class="nav">
                <!-- Domain properties -->
                <li class="nav-item">
                    <a [routerLink]="[Paths.manage.domains, d.id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="cc-link">
                        <fa-icon class="cc-icon" [icon]="faAt"></fa-icon>
                        <span class="sr-only" i18n>Domain</span>
                        <div class="cc-hide-collapsed overflow-hidden">
                            <div class="text-truncate">{{ d.host }}</div>
                        </div>
                    </a>
                </li>

                <!-- Pages: if there's a domain -->
                <li class="nav-item">
                    <a [routerLink]="[Paths.manage.domains, d.id, 'pages']" routerLinkActive="active" class="cc-link">
                        <fa-icon class="cc-icon" [icon]="faFileLines"></fa-icon>
                        <div class="cc-hide-collapsed" i18n>Pages</div>
                    </a>
                </li>

                <!-- Comments: if there's a domain -->
                <li class="nav-item">
                    <a [routerLink]="[Paths.manage.domains, d.id, 'comments']" routerLinkActive="active" class="cc-link position-relative">
                        <fa-icon class="cc-icon" [icon]="faComments"></fa-icon>
                        <!-- Number of comments pending moderation -->
                        <span *ngIf="pendingCommentCount$ | async as cnt"
                              class="badge rounded-pill bg-danger cc-floater"
                              title="Comments pending moderation" i18n-title>{{ cnt }}</span>
                        <div class="cc-hide-collapsed" i18n>Comments</div>
                    </a>
                </li>

                <!-- Owner items -->
                <ng-container *ngIf="canManageDomain">
                    <!-- Domain users -->
                    <li class="nav-item">
                        <a [routerLink]="[Paths.manage.domains, d.id, 'users']" routerLinkActive="active" class="cc-link">
                            <fa-icon class="cc-icon" [icon]="faUsersRectangle"></fa-icon>
                            <div class="cc-hide-collapsed" i18n>Domain users</div>
                        </a>
                    </li>

                    <!-- Stats -->
                    <li class="nav-item">
                        <a [routerLink]="[Paths.manage.domains, d.id, 'stats']" routerLinkActive="active" class="cc-link">
                            <fa-icon class="cc-icon" [icon]="faChartLine"></fa-icon>
                            <div class="cc-hide-collapsed" i18n>Statistics</div>
                        </a>
                    </li>

                    <!-- Operations -->
                    <li class="nav-item">
                        <a [routerLink]="[Paths.manage.domains, d.id, 'operations']" routerLinkActive="active" class="cc-link">
                            <fa-icon class="cc-icon" [icon]="faArrowDownUpAcrossLine"></fa-icon>
                            <div class="cc-hide-collapsed" i18n>Operations</div>
                        </a>
                    </li>
                </ng-container>
            </ul>

            <ul *ngIf="isSuper" class="nav">
                <!--------------------------------------------------------------------------------------------------------->
                <!-- Administration: super user only -->
                <!--------------------------------------------------------------------------------------------------------->

                <li class="nav-item cc-divider">
                    <h2 class="cc-hide-collapsed" i18n>Administration</h2>
                </li>

                <!-- Users -->
                <li class="nav-item">
                    <a [routerLink]="Paths.manage.users" routerLinkActive="active" class="cc-link">
                        <fa-icon class="cc-icon" [icon]="faUsers"></fa-icon>
                        <div class="cc-hide-collapsed" i18n>Users</div>
                    </a>
                </li>

                <!--------------------------------------------------------------------------------------------------------->
                <!-- Configuration: super user only -->
                <!--------------------------------------------------------------------------------------------------------->

                <li class="nav-item cc-divider">
                    <h2 class="cc-hide-collapsed" i18n>Configuration</h2>
                </li>

                <!-- Configuration -->
                <li class="nav-item">
                    <a [routerLink]="Paths.manage.config._" routerLinkActive="active" class="cc-link">
                        <fa-icon class="cc-icon" [icon]="faWrench"></fa-icon>
                        <div class="cc-hide-collapsed" i18n>Configuration</div>
                    </a>
                </li>
            </ul>

            <ul class="nav">
                <!----------------------------------------------------------------------------------------------------->
                <!-- Account -->
                <!----------------------------------------------------------------------------------------------------->

                <li class="nav-item cc-divider">
                    <h2 class="cc-hide-collapsed" i18n>Account</h2>
                </li>

                <!-- Profile -->
                <li class="nav-item">
                    <a [routerLink]="Paths.manage.account.profile" routerLinkActive="active" class="cc-link" id="sidebarProfile">
                        <!-- User's avatar -->
                        <app-user-avatar [user]="domainMeta?.principal" size="S" class="cc-avatar"></app-user-avatar>
                        <div class="cc-hide-collapsed">
                            <!-- User's name -->
                            <div class="text-truncate" style="max-width: 200px">{{ domainMeta?.principal?.name }}</div>
                        </div>
                    </a>
                </li>

                <!----------------------------------------------------------------------------------------------------->
                <!-- Logout -->
                <!----------------------------------------------------------------------------------------------------->

                <li class="nav-item cc-divider">
                    <h2 class="cc-hide-collapsed" i18n>Logout</h2>
                </li>
                <li class="nav-item">
                    <a appConfirm="Are you sure you want to logout?" confirmAction="Logout" confirmActionType="primary"
                       [confirmIcon]="faQuestionCircle" (confirmed)="logout()" role="button" class="cc-link"
                       i18n-appConfirm i18n-confirmAction>
                        <fa-icon class="cc-icon" [icon]="faSignOutAlt"></fa-icon>
                        <span class="cc-hide-collapsed" i18n>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Sidebar backdrop, only on a small screen and when the sidebar is expanded -->
    <div [class.show]="expanded" (click)="toggleExpanded()" (keydown.enter)="toggleExpanded()"
         class="cc-backdrop" tabindex="-1"></div>

    <!-- Main page content -->
    <div class="cc-content">
        <section class="container-lg">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>
