<ng-container *ngIf="value else nope">
    <fa-icon [icon]="faCheck" aria-checked="true" class="text-primary"></fa-icon><span class="visually-hidden">✔</span>
</ng-container>
<ng-template #nope><span class="nope" aria-checked="false"></span></ng-template>
