@import "colours";

.comentario-button {
    // Vars
    --comentario-btn-color:         #{$link-color};
    --comentario-btn-hover-color:   #{$link-hover-color};
    --comentario-btn-bgcolor:       transparent;
    --comentario-btn-hover-bgcolor: transparent;

    color: var(--comentario-btn-color);
    background-color: var(--comentario-btn-bgcolor);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    padding: 6px 20px;
    border: 1px solid transparent;
    border-radius: 0.15rem;
    margin: 5px;
    transition: color 0.4s, background-color 0.4s;
    white-space: nowrap;

    &:not(:disabled) {
        &:hover, &:focus, &:active {
            color: var(--comentario-btn-hover-color);
            background-color: var(--comentario-btn-hover-bgcolor);
            opacity: 1;
        }
    }

    &:disabled {
        cursor: not-allowed !important;
        opacity: 0.3 !important;
    }
}

.comentario-submit-button {
    --comentario-btn-color:         #{$white};
    --comentario-btn-hover-color:   #{$white};
    --comentario-btn-bgcolor:       #{$primary};
    --comentario-btn-hover-bgcolor: #{$blue-6};

    font-weight: bold;

    &.comentario-submit-glyph {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 128 115.25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m102.53 52.839c-0.82333 5.8731-5.7084 10.612-11.819 11.234h-39.52v-25.633l-51.193 38.404 51.193 38.404v-25.505h51.138v-0.14637c14.161-0.036593 25.596-11.362 25.651-25.541h0.0183v-64.055h-25.468z' fill='%23fff'/%3E%3C/svg%3E");
    }

    @include btn-shadow();
}

.comentario-danger-button {
    --comentario-btn-color:         #{$white};
    --comentario-btn-hover-color:   #{$white};
    --comentario-btn-bgcolor:       #{$red-8};
    --comentario-btn-hover-bgcolor: #{$red-6};

    font-weight: bold;

    @include btn-shadow();
}

// OAuth buttons
.comentario-oauth-button {
    // Text defaults to white
    --comentario-btn-color:         #{$white};
    --comentario-btn-hover-color:   #{$white};

    font-weight: bold;

    @include btn-shadow();
}
.comentario-facebook-button {
    --comentario-btn-bgcolor:       #1877f2;
    --comentario-btn-hover-bgcolor: #{lighten(#1877f2, 15%)};
}
.comentario-github-button   {
    --comentario-btn-bgcolor:       #000000;
    --comentario-btn-hover-bgcolor: #{lighten(#000000, 30%)};
}
.comentario-gitlab-button   {
    --comentario-btn-bgcolor:       #fc6d26;
    --comentario-btn-hover-bgcolor: #{lighten(#fc6d26, 15%)};
}
.comentario-google-button   {
    --comentario-btn-bgcolor:       #4285f4;
    --comentario-btn-hover-bgcolor: #{lighten(#4285f4, 15%)};
}
.comentario-linkedin-button {
    --comentario-btn-bgcolor:       #0a66c2;
    --comentario-btn-hover-bgcolor: #{lighten(#0a66c2, 15%)};
}
.comentario-twitter-button  {
    --comentario-btn-bgcolor:       #1da1f2;
    --comentario-btn-hover-bgcolor: #{lighten(#1da1f2, 15%)};
}
.comentario-sso-button      {
    --comentario-btn-bgcolor:       #7275ab;
    --comentario-btn-hover-bgcolor: #{lighten(#7275ab, 15%)};
}

.comentario-oauth-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
