@import "colours";

.comentario-card {
    margin-top: 16px;
    border-top: 1px solid $gray-1;

    .comentario-card-self {
        padding: 12px;
    }

    // Hide the content of the card when there's an editor inside it (immediate child only, not nested ones)
    &.comentario-editor-inserted > .comentario-card-self {
        display: none;
    }

    .comentario-card-children {
        padding-left: 12px;

        &.comentario-card-children-unnest {
            padding-left: 0;
            margin-left: -2px; // To compensate for the left border width
        }
    }

    .comentario-card-header {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: start;
        margin-bottom: 6px;
    }

    .comentario-name-container {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: start;
        margin-bottom: 6px;
    }

    .comentario-name-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .comentario-name {
        font-weight: bold;
        font-size: 14px;
        color: $gray-7 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .comentario-subtitle {
        color: $gray-5;
        font-size: 12px;

        a {
            color: $gray-5 !important;
        }
    }

    .comentario-options {
        display: flex;
        justify-content: space-between;

        .comentario-options-sub {
            display: flex;
            align-items: center;
        }
    }

    .comentario-option-button {
        margin: 0;
        padding: 8px;
        width: 32px;
        height: 32px;
        color: $gray-6;
        opacity: 0.5;
        transition: all 0.2s;

        svg {
            width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .comentario-btn-collapse {
        transition: all 0.2s;

        &.comentario-collapsed {
            transform: rotate(180deg);
        }
    }

    .comentario-score {
        display: inline;
        color: $gray-4;
        font-weight: 700;
        transition: color 0.2s;
    }

    .comentario-upvoted {
        color: $green-6;
    }

    .comentario-downvoted {
        color: $orange-6;
    }

    .comentario-is-sticky {
        color: $yellow-4 !important;
    }

    .comentario-card-body {
        p {
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }

    .comentario-moderation-notice {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        color: $orange-8;
    }
}

.comentario-deleted {
    opacity: 0.33;
    filter: grayscale(0.8);
}

.comentario-pending {
    background: $gray-2;
    border: $yellow-6 dashed 1px;
}

.comentario-rejected {
    background: $yellow-1;
}

.comentario-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 20px;
    margin-right: 10px;
    border: 0 transparent;
}

.comentario-avatar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
