<nav id="app-navbar" class="navbar navbar-expand navbar-light flex-wrap flex-md-nowrap" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <!-- Logo -->
    <div class="nav-row">
        <a [routerLink]="Paths.home" id="navbar-logo"><img src="images/logo.svg" width="192" height="48" alt="Logo"></a>
    </div>

    <!-- Navbar content -->
    <div class="nav-row flex-md-grow-1 flex-wrap flex-md-nowrap" id="navbar-content">
        <ul class="navbar-nav ms-md-auto">
            <!-- Docs -->
            <li class="nav-item"><a class="nav-link" [href]="docsSvc.urlHome" target="_blank" rel="noopener" i18n="menu item">Docs</a></li>
            <!-- About -->
            <li class="nav-item"><a class="nav-link" [href]="docsSvc.urlAbout" target="_blank" rel="noopener" i18n="menu item">About</a></li>
        </ul>

        <ul class="navbar-nav">
            <!-- User button -->
            <li *ngIf="authSvc.principal | async as p else signin" class="nav-item">
                <a [routerLink]="Paths.manage.dashboard" class="btn btn-outline-info d-flex align-items-center" id="user-nav-button">
                    <!-- User icon -->
                    <app-user-avatar [user]="p" class="me-1"></app-user-avatar>
                    <!-- User's name -->
                    <div class="text-truncate position-relative ms-1" style="max-width: 100px">
                        <ng-container>{{ p.name }}</ng-container>
                    </div>
                </a>
            </li>
            <!-- Sign in -->
            <ng-template #signin>
                <li class="nav-item"><a [routerLink]="Paths.auth.login" class="btn btn-primary" id="login-nav-button" i18n>Sign in</a></li>
            </ng-template>
        </ul>
    </div>
</nav>
