@import "../../scss/vars";

.navbar {
    background-color: var(--app-navbar-bg-color);
}

.nav-row {
    display: flex;

    @media (max-width: 767.98px) {
        width: 100%;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
}
