<section class="container">
    <!-- Heading -->
    <h1 i18n="heading">Reset password</h1>

    <!-- Change password form -->
    <div class="row justify-content-center">
        <div class="col-sm-auto w-max-500">
            <form [formGroup]="form" (ngSubmit)="submit()" id="reset-password-form">
                <!-- New password -->
                <div class="mb-3">
                    <label for="newPassword" class="form-label colon" i18n>New password</label>
                    <app-password-input formControlName="newPassword" [required]="true" [strong]="true"
                                        autocomplete="new-password" id="newPassword"></app-password-input>
                </div>
                <!-- Submit button -->
                <div class="mb-3 text-center">
                    <button [appSpinner]="submitting.active" type="submit" class="btn btn-primary" i18n="action">Change password</button>
                </div>
            </form>
        </div>
    </div>
</section>
