<div ngbDropdown class="d-inline-block" placement="bottom-end">
    <!-- Dropdown toggle -->
    <button type="button" class="btn btn-outline-secondary" id="sortByDropdown" ngbDropdownToggle i18n>Sort</button>

    <!-- Sort buttons -->
    <div ngbDropdownMenu aria-labelledby="sortByDropdown">
        <div class="p-3 flex-column flex-md-row btn-group text-nowrap" role="group">
            <ng-container *ngFor="let p of items">
                <button [class.active]="sort && sort.property === p.by"
                        [class.sort-asc]="sort && !sort.descending"
                        [class.sort-desc]="sort?.descending"
                        [attr.aria-checked]="sort && sort.property === p.by"
                        [attr.id]="p.id" (click)="applyProperty(p)"
                        class="btn btn-outline-secondary" type="button">
                    <fa-icon *ngIf="sort && sort.property === p.by"
                             [icon]="sort.descending ? faArrowUpShortWide : faArrowDownShortWide"
                             class="me-1"></fa-icon>
                    <ng-container>{{ p.label }}</ng-container>
                </button>
            </ng-container>
        </div>
    </div>
</div>
