.user-owner {
    background-color: #ff922b;
}

.user-moderator {
    background-color: #4c6ef5;
}

.user-commenter {
    background-color: #8ce99a;
}

.user-readonly {
    background-color: #cdcfd2;
}
