<!-- Header with the badge -->
<header class="d-flex flex-wrap align-items-center mb-3">
    <h1 class="mb-0 me-2" i18n="heading">SSO secret</h1>
    <app-domain-badge></app-domain-badge>
</header>

<ng-container *ngIf="domainMeta?.domain as domain">
    <!-- Info text -->
    <p i18n>Use this page to (re)generate an SSO secret for this domain.</p>

    <div class="form-label colon" i18n>SSO secret</div>
    <div class="mb-3 p-2 ps-3 border rounded bg-secondary-subtle d-flex justify-content-between align-items-center">
        <span id="sso-secret-value">
            <!-- Secret excerpt -->
            <code *ngIf="ssoSecret">{{ ssoSecret.substring(0, 4) }}{{ '•'.repeat(10) }}</code>
            <!-- Secret already exists -->
            <span *ngIf="!ssoSecret && domain.ssoSecretConfigured" class="text-muted" i18n>(hidden)</span>
            <!-- No secret yet -->
            <span *ngIf="!ssoSecret && !domain.ssoSecretConfigured" class="text-muted" i18n>(not generated)</span>
        </span>
        <!-- Copy button -->
        <button [disabled]="!ssoSecret" [appCopyText]="ssoSecret" type="button"
                class="btn btn-outline-secondary ms-2" ngbTooltip="">
            <fa-icon [icon]="faCopy" class="me-1"></fa-icon>
            <ng-container i18n>Copy</ng-container>
        </button>
    </div>

    <!-- Once-available warning -->
    <div *ngIf="ssoSecret" class="text-danger fade-in" id="sso-secret-once-warning">
        <fa-icon [icon]="faExclamationTriangle" class="me-1"></fa-icon>
        <ng-container i18n>For security reasons, this secret is only available for you this time. You won't be able to retrieve it again. Make sure to save it somewhere safe.</ng-container>
    </div>

    <!-- Buttons -->
    <div *ngIf="!ssoSecret">
        <!-- Regenerate button -->
        <button [appSpinner]="generating.active" (click)="generateSsoSecret()" type="button"
                class="btn btn-primary">
            <fa-icon [icon]="faRotate" class="me-1"></fa-icon>
            <ng-container i18n>Generate new secret</ng-container>
        </button>

        <!-- Warning when a secret already exists -->
        <div *ngIf="domain.ssoSecretConfigured" class="form-text" id="sso-secret-regen-warning">
            <fa-icon [icon]="faExclamationTriangle" class="me-1"></fa-icon>
            <ng-container i18n>Regenerating the secret will require reconfiguring your SSO provider.</ng-container>
        </div>
    </div>
</ng-container>
