<!-- Info block -->
<app-info-block *ngIf="domainMeta?.userKind" [ngSwitch]="domainMeta!.userKind">
    <ng-container *ngSwitchCase="'superuser'" i18n>As a superuser, you see all comments on the domain, just like domain owners and moderators.</ng-container>
    <ng-container *ngSwitchCase="'owner'"     i18n>As a domain owner, you see all comments on the domain, just like moderators do. Regular users only see their own comments.</ng-container>
    <ng-container *ngSwitchCase="'moderator'" i18n>As a domain moderator, you see all comments on the domain. Regular users only see their own comments.</ng-container>
    <ng-container *ngSwitchDefault            i18n>Below you see all your comments on the domain.</ng-container>
</app-info-block>

<div [appSpinner]="(!comments && commentsLoading.active) || commentUpdating.active" spinnerSize="lg">
    <!-- Toolbar -->
    <div class="mb-3">
        <!-- Filter form -->
        <form [formGroup]="filterForm" class="row g-2 flex-grow-1">
            <!-- Placeholder to push other items to the right -->
            <div class="col-12 col-md">
                <!-- Quick filters: moderator+ -->
                <div *ngIf="domainMeta?.canModerateDomain" class="d-flex align-items-center" id="comments-quick-filter">
                    <span class="small" i18n>Quick filters:</span>
                    <button type="button" class="btn btn-link btn-sm" (click)="filterUndeleted()" i18n>Undeleted</button>
                    <button type="button" class="btn btn-link btn-sm" (click)="filterAll()"       i18n>All</button>
                    <button type="button" class="btn btn-link btn-sm" (click)="filterPending()"   i18n>Pending</button>
                </div>
            </div>

            <div class="col-12 col-sm-auto">
                <!-- Sort -->
                <app-sort-selector [sort]="sort">
                    <app-sort-property by="score"   label="Score"   i18n-label></app-sort-property>
                    <app-sort-property by="created" label="Created" i18n-label></app-sort-property>
                </app-sort-selector>

                <!-- Status filter buttons: moderator+ -->
                <div *ngIf="domainMeta?.canModerateDomain" class="btn-group ms-2" role="group">
                    <!-- Show approved -->
                    <input formControlName="approved" type="checkbox" class="btn-check" id="comments-filter-approved" autocomplete="off">
                    <label for="comments-filter-approved" class="btn btn-outline-secondary" title="Show approved" i18n-title>
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </label>
                    <!-- Show pending -->
                    <input formControlName="pending" type="checkbox" class="btn-check" id="comments-filter-pending" autocomplete="off">
                    <label for="comments-filter-pending" class="btn btn-outline-secondary" title="Show pending" i18n-title>
                        <fa-icon [icon]="faQuestion"></fa-icon>
                    </label>
                    <!-- Show rejected -->
                    <input formControlName="rejected" type="checkbox" class="btn-check" id="comments-filter-rejected" autocomplete="off">
                    <label for="comments-filter-rejected" class="btn btn-outline-secondary" title="Show rejected" i18n-title>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </label>
                    <!-- Show deleted -->
                    <input formControlName="deleted" type="checkbox" class="btn-check" id="comments-filter-deleted" autocomplete="off">
                    <label for="comments-filter-deleted" class="btn btn-outline-secondary" title="Show deleted" i18n-title>
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </label>
                </div>
            </div>

            <!-- Substring filter -->
            <div class="col-12 col-sm-auto">
                <input formControlName="filter" id="filter-string" class="form-control" type="search"
                       placeholder="Filter" aria-label="Filter" i18n-placeholder i18n-aria-label>
            </div>
        </form>
    </div>

    <!-- Comment list -->
    <div *ngIf="comments?.length" class="list-group" id="comment-list">
        <a *ngFor="let c of comments; trackBy: trackById"
           @fadeIn-slow
           [routerLink]="[Paths.manage.domains, domainMeta!.domain!.id!, 'comments', c.id]"
           [class.list-group-item-pending]="c.isPending"
           [class.list-group-item-rejected]="!c.isPending && !c.isApproved"
           [class.list-group-item-deleted]="c.isDeleted"
           class="list-group-item list-group-item-action clearfix">
            <!-- Comment metadata -->
            <div class="list-group-item-header row align-items-center">
                <!-- User created and status badge -->
                <div class="col-12 col-sm ps-0 d-flex align-items-center">
                    <!-- If there's an existing author user -->
                    <ng-container *ngIf="commenters.get(c.userCreated!) as cr else delAuthor">
                        <!-- Avatar -->
                        <app-user-avatar [user]="cr" size="S"></app-user-avatar>
                        <!-- User link (non-anonymous and for superuser/owner) or name -->
                        <a *ngIf="cr.id !== anonUserId && domainMeta?.canManageDomain else userNameText"
                           [routerLink]="[Paths.manage.domains, domainMeta!.domain!.id!, 'users', cr.id]"
                           class="ms-2 fw-bold text-truncate comment-author-name">{{ cr.name }}</a>
                        <ng-template #userNameText><div class="ms-2 fw-bold text-truncate comment-author-name">{{ cr.name }}</div></ng-template>
                    </ng-container>

                    <!-- Author doesn't exist anymore -->
                    <ng-template #delAuthor>
                        <i class="text-muted" i18n>(deleted user)</i>
                    </ng-template>

                    <!-- Status badge, sm+ -->
                    <app-comment-status-badge [comment]="c" [subtle]="true" class="ms-2 d-none d-sm-inline"></app-comment-status-badge>
                </div>
                <div class="col-12 col-sm-auto pe-0 text-end">
                    <!-- Comment score -->
                    <span [class.text-muted]="!c.score"
                          [class.text-danger]="c.score! < 0"
                          [class.text-success]="c.score! > 0"
                          title="Score" class="fw-bold small comment-score" i18n-title>{{ c.score }}</span>
                    <!-- Comment creation time and permalink -->
                    <a [href]="c.url" (click)="$event.stopPropagation()"
                       class="ms-3 external-link" title="Permalink" target="_blank" rel="noopener noreferrer" i18n-title>
                        <ng-container>{{ c.createdTime | datetime }}</ng-container>
                    </a>
                </div>
                <!-- Reason for pending status -->
                <div *ngIf="c.isPending && c.pendingReason" class="w-100 py-1 px-0 small text-warning comment-pending-reason">
                    <span class="colon me-2" i18n>Pending moderation</span>
                    <ng-container>{{ c.pendingReason }}</ng-container>
                </div>
            </div>
            <div class="comment-body row align-items-start my-3">
                <!-- Comment text -->
                <div *ngIf="!c.isDeleted else deleted" [innerHTML]="c.html" class="col comment-text"></div>
                <ng-template #deleted><div class="col comment-deleted" i18n>(deleted)</div></ng-template>

                <!-- Action buttons: non-deleted, moderators or own comments only -->
                <div *ngIf="!c.isDeleted && (domainMeta?.canModerateDomain || c.userCreated === domainMeta?.principal?.id)"
                     class="mt-3 col-12 col-sm-auto btn-group btn-group-sm" role="group">
                    <!-- Approve -->
                    <button *ngIf="domainMeta?.canModerateDomain" [class.active]="!c.isPending && c.isApproved"
                            (click)="moderateComment($event, c, true)"
                            class="btn btn-light text-success flex-grow-0" type="button" title="Approve" i18n-title>
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </button>
                    <!-- Reject -->
                    <button *ngIf="domainMeta?.canModerateDomain" [class.active]="!c.isPending && !c.isApproved"
                            (click)="moderateComment($event, c, false)"
                            class="btn btn-light text-warning flex-grow-0" type="button" title="Reject" i18n-title>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </button>
                    <!-- Delete -->
                    <button appConfirm="Are you sure you want to delete this comment?" (confirmed)="deleteComment(c)"
                            confirmAction="Delete comment"
                            class="btn btn-light text-danger flex-grow-0" type="button"
                            title="Delete" i18n-appConfirm i18n-title>
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                </div>
            </div>
        </a>
    </div>

    <!-- List footer -->
    <app-list-footer [canLoadMore]="canLoadMore" [loading]="commentsLoading.active" [count]="comments?.length" (loadMore)="load.next(false)"/>
</div>
