<footer>
    <div class="container ps-5">
        <!-- Menu -->
        <ul class="list-unstyled">
            {{- range site.Menus.footer }}
            <li>
                <a class="{{ if $.IsMenuCurrent `footer` . }}active{{ end }}"
                   {{ if $.IsMenuCurrent `footer` . }}aria-current="page"{{ end }}
                   href="{{ .URL | absLangURL }}">{{ .Title }}</a>
            </li>
            {{- end }}
        </ul>

        <!-- Copyright -->
        <div>{{ T "copyright" }}</div>
    </div>
</footer>
