<ngb-toast *ngFor="let t of toasts; index as idx" [class]="t.className"
           [id]="'toast-' + idx" [autohide]="autohide"
           (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hidden)="remove(t)">

    <!-- Optional heading -->
    <ng-template ngbToastHeader>
        <strong class="me-auto" [ngSwitch]="t.alertType">
            <ng-container *ngSwitchCase="'info'"    i18n>Info</ng-container>
            <ng-container *ngSwitchCase="'success'" i18n>Success</ng-container>
            <ng-container *ngSwitchCase="'warning'" i18n>Warning</ng-container>
            <ng-container *ngSwitchCase="'danger'"  i18n>Error</ng-container>
        </strong>
    </ng-template>

    <!-- Toast body -->
    <div class="d-flex">
        <!-- Toast icon -->
        <fa-icon [icon]="t.icon" size="3x" class="mx-1"></fa-icon>

        <!-- Toast text -->
        <div class="ms-3">
            <!-- The main message -->
            <app-server-message [messageId]="t.id" [errorCode]="t.errorCode"></app-server-message>

            <!-- Additional details, if any -->
            <div *ngIf="t.details" class="toast-details small mt-2">({{ t.details }})</div>
        </div>
    </div>

    <!-- "401 Unauthorized: show a login button (unless it's a login error) -->
    <div *ngIf="t.errorCode === 401 && t.id !== 'invalid-credentials'" class="mt-3">
        <button type="button" (click)="goLogin()" class="btn btn-primary w-100" i18n>Log in</button>
    </div>

    <!-- Technical error details, if there's an error -->
    <div *ngIf="t.error" class="toast-tech-details small mt-2">
        <div class="text-end">
            <button [class.collapsed]="!t.detailsShown" [attr.aria-expanded]="t.detailsShown" (click)="t.toggleDetails()"
                    type="button" class="btn btn-sm btn-link collapse-toggler">
                <ng-container i18n>Technical details</ng-container>
                <fa-icon [icon]="faChevronDown" class="ms-1"></fa-icon>
            </button>
        </div>
        <div *ngIf="t.detailsShown" class="mt-2 fade-in"><pre>{{ t.error | json }}</pre></div>
    </div>
</ngb-toast>
