<!-- Shortcode for inserting image figures, full-width, clickable image blocks.
     Syntax: imgfig "image_filename.ext" ["title"] ["class1 class2…"] -->
<figure class="figure imgfig">
    {{- $url := .Get 0 }}
    <!-- If it's a path starting from root, absolutize it -->
    {{- if hasPrefix $url "/" }}
        {{- $url = absURL $url }}
    <!-- Otherwise, if it isn't a URL starting with "http(s)://", consider it a page resource -->
    {{- else if not (findRE "^http(s?)://" $url) }}
        {{- $url = ($.Page.Resources.GetMatch $url).Permalink }}
    {{- end -}}
    <a href="{{ $url }}"><img src="{{ $url }}" alt="{{ .Get 1 | markdownify | plainify | default `Image` | safeHTML }}" class="figure-img img-fluid {{ .Get 2 }}"></a>
    {{- with .Get 1 }}<figcaption class="figure-caption">{{ . | markdownify }}</figcaption>{{ end -}}
</figure>
