@import "scss/vars";

:host {
    z-index: 180; // Behind the navbar
    margin-top: auto;
}

footer {
    background-color: var(--app-footer-bg-color);
    background-image: linear-gradient(
        180deg,
        $sidebar-bg-color 0%,
        var(--app-footer-bg-color) 100%);
    color: adjust-color($primary, $saturation: -25%, $alpha: -0.3);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 0.875rem;

    // Leave room for the sidebar (if any), which is displayed above the footer with width < md
    @include media-breakpoint-down(md){
        padding-left: 50px;
    }
}

a {
    color: adjust-color($primary, $saturation: -16.666%);
    transition: color 0.1s linear;

    &.active {
        font-weight: bold;
    }

    &:hover, &:active {
        color: adjust-color($primary, $saturation: -16.666%, $lightness: -25%);
    }
}

.heading {
    font-weight: $font-weight-bold;
    color: adjust-color($primary, $saturation: -16.666%, $lightness: -25%);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
