<dl *ngIf="user" class="detail-table">
    <!-- ID -->
    <div>
        <dt i18n>ID</dt>
        <dd>
            <!-- Plain-text ID -->
            <span *ngIf="!userLink" appCopyText class="text-copyable">{{ user.id }}</span>
            <!-- User-linked ID -->
            <a *ngIf="userLink" [routerLink]="[Paths.manage.users, user.id]" class="internal-link">{{ user.id }}</a>
            <!-- Current user badge -->
            <app-current-user-badge [userId]="user.id" class="ms-2"></app-current-user-badge>
        </dd>
    </div>
    <!-- Federated user -->
    <div *ngIf="user.federatedIdP as v">
        <dt i18n>Federated user</dt>
        <dd>
            <ng-container *ngIf="!user.federatedSso"><app-idp-icon [idpId]="v" class="me-1"></app-idp-icon>{{ v }}</ng-container>
            <span *ngIf="user.federatedSso" class="badge rounded-pill border border-dark text-dark me-2">SSO</span>
            <ng-container>/{{ user.federatedId || '*' }}</ng-container>
        </dd>
    </div>
    <!-- Name -->
    <div>
        <dt i18n>Name</dt>
        <dd>{{ user.name }}</dd>
    </div>
    <!-- Email -->
    <div *ngIf="user.email as v">
        <dt i18n>Email</dt>
        <dd>
            <span appCopyText class="text-copyable">{{ v }}</span>
        </dd>
    </div>
    <!-- Language -->
    <div *ngIf="user.langId as v">
        <dt i18n>Language</dt>
        <dd>{{ v }}</dd>
    </div>
    <!-- Banned -->
    <div *ngIf="user.banned">
        <dt i18n>Banned</dt>
        <dd>
            <app-checkmark></app-checkmark>
            <span *ngIf="user.bannedTime as v" class="text-muted"> ({{ v | datetime }})</span>
        </dd>
    </div>
    <!-- Remarks -->
    <div *ngIf="user.remarks as v">
        <dt i18n>Remarks</dt>
        <dd>{{ v }}</dd>
    </div>
    <!-- Website URL -->
    <div *ngIf="user.websiteUrl as v">
        <dt i18n>Website URL</dt>
        <dd><a [href]="v" target="_blank" rel="nofollow noopener noreferrer">{{ v }}</a></dd>
    </div>
    <!-- System account -->
    <div *ngIf="user.systemAccount">
        <dt i18n>System account</dt>
        <dd><app-checkmark></app-checkmark></dd>
    </div>
    <!-- Confirmed -->
    <div *ngIf="user.confirmed">
        <dt i18n>Confirmed</dt>
        <dd>
            <app-checkmark></app-checkmark>
            <span *ngIf="user.confirmedTime as v" class="text-muted"> ({{ v | datetime }})</span>
        </dd>
    </div>
    <!-- Superuser -->
    <div *ngIf="user.isSuperuser">
        <dt i18n>Superuser</dt>
        <dd><app-checkmark></app-checkmark></dd>
    </div>
    <!-- Created -->
    <div *ngIf="user.createdTime | datetime as v">
        <dt i18n>Created</dt>
        <dd>{{ v }}</dd>
    </div>
</dl>
